* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.main {
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 2539px;
}

.top {
  position: absolute;
  width: 100%;
  height: 285px;
}
.top img {
  position: absolute;
  top: -602px;
  width: 100%;
  height: 887px;
  z-index: 1;
}

.headtext{
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: center;
    padding-top: 75px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 77px;
    color: #EDEDF5;
    letter-spacing: 0.3ch;
}
.mid {
  position: absolute;
  width: 100%;
  height: 1813px;
  top: 285px;
  background: #0a0a0e;
}

.images
{
    position: absolute;
    display: grid;
    left: 120px;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    width: 85%;
    gap: 25px;
    
}
.images > div img{
    
    height: 348px;
    width: 260px;
    border-radius: 30px; 
}

.img5 ,.img7
{
  margin-top: -85px;
}

.img7
{
  margin-top: -65px;
  height: 270px;
}

.img8
{
  margin-top: -25px
}

.img9
{
  margin-top: -106px;
}

.img10{
  margin-top: -22px;
}

.img11{
  margin-top: -162px
}

.img12
{
  margin-top: -5px;
}

.img13
{
  margin-top: -85px;
}

.img14{
  margin-top: -10px;
}

.img15{
  margin-top: -153px;
}

.img16
{
  margin-top: -1px;
}

.search
{
  display: none;
}

.images > div > img:hover
{
  border: 4px solid lightblue;
  opacity: 50%;
  background: transparent;
  
}
